.projects-title{
    font-size:17px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
  }

.projects-content{
    font-size:15px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    white-space: normal;

      .button{
        display: block;
        margin: 0 auto;
      }
}

.date-nav{
  background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
}

ion-footer ion-toolbar:last-of-type {
  padding-bottom: 0px !important;
}