<HeaderGlobal [props]="props" (event)="eventHandler($event)"></HeaderGlobal>

<ion-content class="ion-padding animated fadeIn login auth-page">
  <form (ngSubmit)="submit()" [formGroup]="onChangePasswordForm" class="list-form">
    <ion-item class="animated fadeInUp">
      <ion-label position="floating">
        Password Lama
      </ion-label>
      <ion-input class="textcolor-dark" [type]="!showPass[0] ? 'password' : 'text'" [(ngModel)]="password.old" formControlName="old"></ion-input>
      <ion-icon slot="end" [name]="!showPass[0] ? 'eye-off-outline' : 'eye-outline'" style="align-self: flex-end;"
      (click)="hidePass(0)"></ion-icon>
    </ion-item>
    <p ion-text class="text08 info-warning" *ngIf="onChangePasswordForm.get('old').touched && onChangePasswordForm.get('old').hasError('required')">
      <ion-text color="warning">
        Field harus diisi
      </ion-text>
    </p>
    <ion-item class="animated fadeInUp">
      <ion-label position="floating">
        Password Baru
      </ion-label>
      <ion-input class="textcolor-dark" [type]="!showPass[1] ? 'password' : 'text'" [(ngModel)]="password.new" formControlName="new"></ion-input>
      <ion-icon slot="end" [name]="!showPass[1] ? 'eye-off-outline' : 'eye-outline'" style="align-self: flex-end;"
      (click)="hidePass(1)"></ion-icon>
    </ion-item>
    <p ion-text class="text08 info-warning" *ngIf="onChangePasswordForm.get('new').touched && onChangePasswordForm.get('new').hasError('required')">
      <ion-text color="warning">
        Field harus diisi
      </ion-text>
    </p>
    <p ion-text class="text08 info-warning" *ngIf="onChangePasswordForm.get('new').touched && onChangePasswordForm.get('new').hasError('minlength')">
      <ion-text color="warning">
        Password minimal terdiri dari 5 karakter
      </ion-text>
    </p>
    <p ion-text class="text08 info-warning" *ngIf="onChangePasswordForm.get('new').touched && onChangePasswordForm.get('new').hasError('pattern')">
      <ion-text color="warning">
        Karakter illegal tidak diperbolehkan
      </ion-text>
    </p>
    <ion-item class="animated fadeInUp">
      <ion-label position="floating">
        Konfirmasi Password Baru
      </ion-label>
      <ion-input class="textcolor-dark" [type]="!showPass[2] ? 'password' : 'text'" [(ngModel)]="password.confirm" formControlName="confirm"></ion-input>
      <ion-icon slot="end" [name]="!showPass[2] ? 'eye-off-outline' : 'eye-outline'" style="align-self: flex-end;"
      (click)="hidePass(2)"></ion-icon>
    </ion-item>
    <p ion-text class="text08 info-warning" *ngIf="onChangePasswordForm.get('confirm').touched && onChangePasswordForm.get('confirm').hasError('required')">
      <ion-text color="warning">
        Field harus diisi
      </ion-text>
    </p>
    <p ion-text class="text08 info-warning" *ngIf="onChangePasswordForm.get('confirm').touched && onChangePasswordForm.hasError('mismatchedPasswords')">
      <ion-text color="warning">
        Password baru tidak cocok
      </ion-text>
    </p>
    <div class="btn-stretch">
    <ion-button icon-left size="medium" expand="full" expand="block" color="dark" type="submit" [disabled]="!onChangePasswordForm.valid" tappable>
      <ion-icon name="log-in"></ion-icon>
      Submit
    </ion-button>
    </div>
  </form>
</ion-content>
