<HeaderGlobal [props]="props" (event)="eventHandler($event)"></HeaderGlobal>
<ion-toolbar *ngIf="props.search.enable" color="dark">
  <ion-searchbar slot="start" [(ngModel)]="searchKey" (ionChange)="searchValue()" (ionClear)="cancelSearch()"
    showCancelButton="focus" animated></ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-refresher [disabled]="props.virtualScrollOptions.disablePullToRefresh" slot="fixed"
    (ionRefresh)="ionRefresh($event)" (ionPull)="app.ionPull($event)" (ionStart)="app.ionStart($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="center-item">
    <ion-spinner [hidden]="isDataEmpty || (data && data.length > 0)" name="dots"></ion-spinner>
    <div *ngIf="isDataEmpty && (data && data.length < 1)">-- NO DATA --</div>
  </div>
  <virtual-scroller #scroll [items]="data" (vsUpdate)="props.virtualScrollOptions.setState($event)">
    <ion-item *ngFor="let item of scroll.viewPortItems" style="opacity:1; background-size:100% 130px; height:130px;"
      [ngStyle]="item.img_url && item.img_url!='null' ? {'background-image':'url(' + getImgUrl(item.img_url) + ')' } : {'background-color':'grey'}"
      class="bg-darken-pseudo bg-darken-with-text" (click)="goToDailyReport(item.id)">
      <div style="color:white" class="flex flex-col w-full">
        <span class="global-text-title">{{item.name}}</span>
        <span class="global-text-little-detail" style="margin-top:-10px">{{item.project_type}}</span>
        <span class="global-text-regular" style="margin:10px 0 10px 0"><strong>{{item.description}}</strong></span>
        <!-- <div class="flex flex-row justify-around" style="margin: 20px 0 30px 0">
          <div class="flex flex-col" style="align-items: center;">
            <ion-icon name="list-sharp" style="zoom:1.25"></ion-icon>
            <span>Perencanaan</span>
          </div>
          <div class="flex flex-col" style="align-items: center;" (click)="goToDailyReport(item.id)">
            <ion-icon name="calendar-sharp" style="zoom:1.25"></ion-icon>
            <span>Laporan Harian</span>
          </div>
        </div> -->
        <span class="global-text-little-detail" style="text-align: right;">{{item.start_date | date:'dd MMM yyyy'}} -
          {{item.end_date | date:'dd MMM yyyy'}}</span>
      </div>
    </ion-item>
  </virtual-scroller>
</ion-content>