<HeaderGlobal [props]="props" (event)="eventHandler($event)"></HeaderGlobal>
<ion-toolbar *ngIf="props.search.enable" color="dark">
  <ion-searchbar
    slot="start"
    [(ngModel)]="searchKey"
    (ionChange)="searchValue()"
    (ionClear)="cancelSearch()"
    showCancelButton="focus"
    animated
  ></ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="ionRefresh($event)"
    (ionPull)="app.ionPull($event)"
    (ionStart)="app.ionStart($event)"
  >
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="center-item">
    <ion-spinner
      [hidden]="isDataEmpty || (data && data.length > 0)"
      name="dots"
    ></ion-spinner>
    <div *ngIf="isDataEmpty && (data && data.length < 1)">-- NO DATA --</div>
  </div>
  <!-- input -->
  <div *ngIf="app.auth.user.UserRoles[0].id === 8">
    <ion-card (click)="inputMode = !inputMode" [hidden]="isViewOnly || inputMode">
      <ion-card-content style="padding: 0.75rem">
        <div class="flex flex-col" style="align-items: center">
          <ion-icon class="expander" name="add-outline" size="large"></ion-icon>
          <span class="global-text-little-detail">
            {{ !data || data.length < 1 ? 'empty data, add data now' : 'add data'
            }}
          </span>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card [hidden]="!inputMode">
      <ion-card-content style="padding: 0.75rem">
        <ionic-selectable
          [(ngModel)]="selectedTask"
          [items]="tasks"
          itemValueField="task_code"
          itemTextField="task_name"
          groupValueField="task_parent"
          groupTextField="task_parent"
          [canSearch]="true"
          (onChange)="changeTask($event)"
          placeholder="Select Task"
        >
          <ng-template ionicSelectableTitleTemplate>Daftar Task</ng-template>
          <ng-template ionicSelectableItemTemplate let-task="item">
            <p class="text-ellipsis">{{task.task_name}}</p>
          </ng-template>
        </ionic-selectable>
        <ion-button class="w-full my-2" (click)="postData()">
          <ion-icon name="save-outline"></ion-icon>&nbsp;Save
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- list -->
  <ion-card *ngFor="let item of data" class="p-4">
    <div class="flex flex-row w-full justify-between">
      <div class="flex flex-col" style="width: 80%">
        <span class="global-text-regular font-bold text-primary"
          >{{item.parent}}</span
        >
        <span class="global-text-desc">{{item.name}}</span>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-row text-primary pb-2" (click)="goToDetails(item.id)" style="border-bottom: 1px solid #ececeb;">
          <ion-icon name="pencil"></ion-icon>
          <span class="global-text-little-detail text-primary">&nbsp;Edit</span>
        </div>
        <div class="self-center text-danger pt-2" (click)="deleteData(idx, item.id)">
          <ion-icon name="trash"></ion-icon>
          <span class="global-text-little-detail text-danger">&nbsp;Delete</span>
        </div>
      </div>
    </div>
    <div class="flex flex-row">
      <div class="flex flex-col w-full py-2">
        <span class="global-text-desc font-bold text-dark"
          >{{item.created_time | date:'dd MMM yyyy'}}</span
        >
        <span class="global-text-desc">{{item.user}}</span>
      </div>
      <div class="flex flex-col ion-text-right w-full py-2">
        <span class="global-text-desc font-bold text-danger"
          >{{item.due_date | date:'dd MMM yyyy'}}</span
        >
        <span class="global-text-desc text-dark">Deadline</span>
      </div>
    </div>
    <div class="flex flex-col w-full py-2 bg-light" style="border-radius: 10px">
      <div class="flex flex-row w-full justify-between p-1">
        <div class="flex flex-col w-third items-center">
          <span class="global-text-regular text-primary font-bold"
            >{{item.total_item}}</span
          >
          <span class="global-text-little-detail">Item</span>
        </div>
        <div class="flex flex-col w-third items-center text-center">
          <span class="global-text-regular text-primary font-bold"
            >{{item.checked_by_admin}}</span
          >
          <span class="global-text-little-detail"
            >Persetujuan<br />Kontraktor</span
          >
        </div>
        <div class="flex flex-col w-third items-center text-center">
          <span class="global-text-regular text-primary font-bold"
            >{{item.checked_by_owner}}</span
          >
          <span class="global-text-little-detail">Persetujuan<br />Owner</span>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
